doctype html
html
    head
        title= title
    body
        block content

        script(type = 'text/javascript', src = '//localhost:7000/vendor.js')
        script(type='text/javascript', src='//localhost:7000/app.bundle.js')
